.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo__name {
    font-size: 24px;
    font-weight: 700;
}

.logo__short {
    color: #909090;
}

.nav {
    color: #909090;
    font-size: 18px;
}

@media screen and (max-width: 476px) {
    .logo__name {
      font-size: 20px;
    }

    .logo__short {
        font-size: 14px;
    }
    
  }