body {
  font-size: 15px;
  background-color: #ffd5d5;
  font-family: 'Inter', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

.layout {
  max-width: 80vw;
  margin: 90px auto 0;
  background-color: #fff;
  border-radius: 24px 24px 0 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
}

main {
  padding: 30px 0;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.single__img {
  max-width: 400px;
  object-fit: cover;
}

.single__page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single__info {
  display: flex;
  flex-direction: column;
  gap: 15px;;
}

.button {
  background-color: #9b2e2e;
  color: #fff;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.price {
  font-weight: 700;
}

.text {
  font-weight: 400;
}

.quantity {
  color: #5e5e5e;
}

.btnprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px;
  background-color: #d67a7a;
  border: none;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}



@media screen and (max-width: 476px) {
  .single__page {
    flex-direction: column;
    display: flex;
    gap: 20px;
  }

  .container {
    padding: 0 20px;
  }

  .layout {
    max-width: 90vw;
    margin-top: 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

}